<div class="family-tree">

    <!-- 第一代 -->
    <div id="great_grandfather" class="person">
        <div class="title">烈祖父</div>
        <input type="text" name="烈祖父" value="{{ family['烈祖父'] }}">
    </div>

    <div id="great_grandmother" class="person">
        <div class="title">烈祖母</div>
        <input type="text" name="烈祖母" value="{{ family['烈祖母'] }}">
    </div>


    <!-- 第二代 -->
    <div id="grandfather" class="person">
        <div class="title">祖父</div>
        <input type="text" name="祖父" value="{{ family['祖父'] }}">
    </div>

    <div id="grandmother" class="person">
        <div class="title">祖母</div>
        <input type="text" name="祖母" value="{{ family['祖母'] }}">
    </div>

    <div id="maternal_grandfather" class="person">
        <div class="title">外祖父</div>
        <input type="text" name="外祖父" value="{{ family['外祖父'] }}">
    </div>

    <div id="maternal_grandmother" class="person">
        <div class="title">外祖母</div>
        <input type="text" name="外祖母" value="{{ family['外祖母'] }}">
    </div>


    <!-- 第三代 -->
    <div id="father" class="person">
        <div class="title">父親</div>
        <input type="text" name="父親" value="{{ family['父親'] }}">
    </div>

    <div id="mother" class="person">
        <div class="title">母親</div>
        <input type="text" name="母親" value="{{ family['母親'] }}">
    </div>

    <div id="father_in_law" class="person">
        <div class="title">岳父</div>
        <input type="text" name="岳父" value="{{ family['岳父'] }}">
    </div>

    <div id="mother_in_law" class="person">
        <div class="title">岳母</div>
        <input type="text" name="岳母" value="{{ family['岳母'] }}">
    </div>


    <!-- 本人 -->
    <div id="self" class="person">
        <div class="title">本人</div>
        <input type="text" name="本人" value="{{ family['本人'] }}">
    </div>

    <div id="spouse" class="person">
        <div class="title">配偶</div>
        <input type="text" name="配偶" value="{{ family['配偶'] }}">
    </div>


    <!-- 子女 -->
    <div id="children-row">

        <div id="son1" class="person small">
            <div class="title">長子</div>
            <input type="text" name="長子" value="{{ family['長子'] }}">
        </div>

        <div id="son2" class="person small">
            <div class="title">次子</div>
            <input type="text" name="次子" value="{{ family['次子'] }}">
        </div>

        <div id="son3" class="person small">
            <div class="title">三子</div>
            <input type="text" name="三子" value="{{ family['三子'] }}">
        </div>

        <div id="son4" class="person small">
            <div class="title">四子</div>
            <input type="text" name="四子" value="{{ family['四子'] }}">
        </div>

        <div id="daughter1" class="person small">
            <div class="title">長女</div>
            <input type="text" name="長女" value="{{ family['長女'] }}">
        </div>

        <div id="daughter2" class="person small">
            <div class="title">次女</div>
            <input type="text" name="次女" value="{{ family['次女'] }}">
        </div>

        <div id="daughter3" class="person small">
            <div class="title">三女</div>
            <input type="text" name="三女" value="{{ family['三女'] }}">
        </div>

        <div id="daughter4" class="person small">
            <div class="title">四女</div>
            <input type="text" name="四女" value="{{ family['四女'] }}">
        </div>

    </div>


    <!-- 孫輩 -->
    <div id="grandchildren-row">

        <div id="grandson1" class="person small">
            <div class="title">長孫</div>
            <input type="text" name="長孫" value="{{ family['長孫'] }}">
        </div>

        <div id="grandson2" class="person small">
            <div class="title">次孫</div>
            <input type="text" name="次孫" value="{{ family['次孫'] }}">
        </div>

        <div id="grandson3" class="person small">
            <div class="title">三孫</div>
            <input type="text" name="三孫" value="{{ family['三孫'] }}">
        </div>

        <div id="grandson4" class="person small">
            <div class="title">四孫</div>
            <input type="text" name="四孫" value="{{ family['四孫'] }}">
        </div>

        <div id="granddaughter1" class="person small">
            <div class="title">長孫女</div>
            <input type="text" name="長孫女" value="{{ family['長孫女'] }}">
        </div>

        <div id="granddaughter2" class="person small">
            <div class="title">次孫女</div>
            <input type="text" name="次孫女" value="{{ family['次孫女'] }}">
        </div>

        <div id="granddaughter3" class="person small">
            <div class="title">三孫女</div>
            <input type="text" name="三孫女" value="{{ family['三孫女'] }}">
        </div>

        <div id="granddaughter4" class="person small">
            <div class="title">四孫女</div>
            <input type="text" name="四孫女" value="{{ family['四孫女'] }}">
        </div>

    </div>

</div>